
body{
    border: 0;
    padding: 0;
    margin: 0;

}
.logo{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 15px
}
h1{
    padding: 20px;
    color: aliceblue;
}
h1:hover{
    text-decoration: underline aqua;
}
h2{
    padding: 20px;
    text-decoration: underline aqua;
    text-shadow: 2px 4px 5px #eee, 0 0 1px aqua;
}
.btn{
    margin: 15px;
}
.background{
    background-color: whitesmoke;
}
.background-nav {
    background-color: #1C1C1C;
}
a:hover{
    text-decoration: underline aqua;
}

.a-style:hover{
    color:lightseagreen !important;
}
.icon-img{
    width: 60px;
    height: 60px;
}
.btn-img{
    width: 30px;
    height: 30px;
}
.card{
    margin: 1rem 1rem;

}

h3{
    padding: 10px 0px 0px 0px;
}
